@use "../../utility/globals";

.panelContainer {
  display: flex;
  flex-direction: column;
  background: globals.$primary-background-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
  width: 400px;
  color: globals.$primary-text-color;
}

.panelHeader {
  box-sizing: border-box;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.panelContent {
  padding: 30px 30px 50px 30px;
  text-align: center;
}

.panelButtons {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 15px;
  box-sizing: border-box;
}

.panelButtonsContainer {
  margin-top: auto;
}

.panelTitle {
  align-self: center;
}

.panelIcon {
  color: globals.$primary-text-color !important;

  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus !important;
  }

  &:active {
    background-color: globals.$primary-background-color-active !important;
  }
}
