@use "../../utility/globals";

.astroCheckboxContainer {
  display: flex;
  align-items: center;
}

.astroCheckbox {
  position: relative;
  max-width: 34px;
  max-height: 34px;
}

.astroCheckboxBorder {
  display: block;
  border-radius: 4px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  &.primary {
    border: 4px solid globals.$primary-color;
  }
  &.secondary {
    border: 4px solid globals.$secondary-color;
  }
}

.astroCheckboxIcon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  &.primary {
    color: globals.$primary-color;
  }
  &.secondary {
    color: globals.$secondary-color;
  }
}

.astroCheckboxLabel {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  &.primary {
    color: globals.$primary-color;
  }
  &.secondary {
    color: globals.$secondary-color;
  }
}

.astroCheckboxLabel {
  color: gray !important;
  margin-left: 8px;

  &.checked {
    &.primary {
      color: globals.$primary-color !important;
    }

    &.secondary {
      color: globals.$secondary-color !important;
    }
  }
}
