@use "../../utility/globals";

.button {
  align-items: center;
  border: 2px solid globals.$primary-background-color;
  column-gap: 6px;
  display: flex;
  flex-direction: row;
  font-family: globals.$font-family;
  outline: none;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  background-color: globals.$primary-background-color;
  color: globals.$primary-text-color;

  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus;
    border: 2px solid
      globals.$primary-background-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$primary-background-color-active;
    border: 2px solid globals.$primary-background-color-active;
  }
}

.secondary {
  background-color: white;
  border: 2px solid globals.$secondary-text-color;
  color: globals.$secondary-text-color;

  &:hover,
  &:focus {
    background-color: globals.$secondary-background-color-hover-and-active;
    border: 2px solid globals.$secondary-border-color-hover-and-focus;
    color: globals.$secondary-text-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$secondary-background-color-active;
  }
}

.small {
  border-radius: 6px;
  font-size: 12px;
  height: 25.8px;
  padding: 4px 6px;

  .leadingIcon,
  .trailingIcon {
    height: 12px;
  }
}

.medium {
  border-radius: 8px;
  font-size: 16px;
  height: 34.5px;
  padding: 6px 9px;

  .leadingIcon,
  .trailingIcon {
    height: 16px;
  }
}

.large {
  border-radius: 10px;
  font-size: 20px;
  height: 43px;
  padding: 8px 12px;

  .leadingIcon,
  .trailingIcon {
    height: 20px;
  }
}

.smallRipple {
  border-radius: 6px;
}

.mediumRipple {
  border-radius: 8px;
}

.largeRipple {
  border-radius: 10px;
}
