@use "../../utility/globals";

.button {
  align-items: center;
  border: 2px solid globals.$primary-background-color;
  cursor: pointer;
  display: flex;
  outline: none;
}

.primary {
  background-color: globals.$primary-background-color;

  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus;
    border: 2px solid
      globals.$primary-background-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$primary-background-color-active;
    border: 2px solid globals.$primary-background-color-active;
  }
}

.secondary {
  background-color: white;
  border: 2px solid globals.$secondary-text-color;

  &:hover,
  &:focus {
    background-color: globals.$secondary-background-color-hover-and-active;
    border: 2px solid globals.$secondary-border-color-hover-and-focus;
    color: globals.$secondary-text-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$secondary-background-color-active;
  }
}

.small {
  border-radius: 6px;
  height: 25.8px;
  padding: 4px 6px;

  .leadingIcon,
  .trailingIcon {
    height: 12px;
  }
}

.medium {
  border-radius: 8px;
  height: 34.5px;
  padding: 6px 9px;

  .leadingIcon,
  .trailingIcon {
    height: 16px;
  }
}

.large {
  border-radius: 10px;
  height: 43px;
  padding: 8px 12px;

  .leadingIcon,
  .trailingIcon {
    height: 20px;
  }
}

.smallRipple {
  border-radius: 6px;
}

.mediumRipple {
  border-radius: 8px;
}

.largeRipple {
  border-radius: 10px;
}

.typography {
  align-items: center;
  display: flex;
  gap: 6px;
}

.disableRipple {
  pointer-events: none !important;
}

.disabled {
  background-color: lightgray !important;
  border: 2px solid lightgray;
  cursor: default !important;
  user-select: none !important;
}
