@use "../../utility/globals";

.container {
  font-family: globals.$font-family;
  position: relative;
}

.menuLayoutContainer {
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}

.enterBottom {
  opacity: 0;
  transform: translateY(-8px);
}

.enterBottomActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 150ms ease-in-out;
}

.exitBottom {
  opacity: 1;
  transform: translateY(0);
}

.exitBottomActive {
  opacity: 0;
  transform: translateY(-8px);
  transition: all 150ms ease-in-out;
}

.enterTop {
  opacity: 0;
  transform: translateY(8px);
}

.enterTopActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 150ms ease-in-out;
}

.exitTop {
  opacity: 1;
  transform: translateY(0);
}

.exitTopActive {
  opacity: 0;
  transform: translateY(8px);
  transition: all 150ms ease-in-out;
}

.trigger {
  transition: all 300ms ease-in;

  &.isOpen {
    transform: scale(0.95);
  }
}
