.container {
  position: relative;
}

.menuLayoutContainer {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
}

.enterBottom {
  opacity: 0;
  transform: translateY(-8px);
}

.enterBottomActive {
  transform: translateY(0px);
  opacity: 1;
  transition: all 150ms ease-in-out;
}

.exitBottom {
  transform: translateY(0px);
  opacity: 1;
}

.exitBottomActive {
  transform: translateY(-8px);
  opacity: 0;
  transition: all 150ms ease-in-out;
}

.enterTop {
  opacity: 0;
  transform: translateY(8px);
}

.enterTopActive {
  transform: translateY(0px);
  opacity: 1;
  transition: all 150ms ease-in-out;
}

.exitTop {
  transform: translateY(0px);
  opacity: 1;
}

.exitTopActive {
  transform: translateY(8px);
  opacity: 0;
  transition: all 150ms ease-in-out;
}
