@use "../../utility/globals";

.menuItemContainer {
  color: globals.$primary-text-color;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px 8px;
  user-select: none;
  outline: none;
  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$primary-background-color-active;
  }
}
