@use "../../utility/globals";

.menuItemContainer {
  border-radius: 4px;
  color: globals.$primary-text-color;
  cursor: pointer;
  padding: 2px 5px;
  margin: 1px 5px;
  user-select: none;
  outline: none;
  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$primary-background-color-active;
  }
}
