@use "../../utility/globals";

.astroButton {
  border-radius: 30px;
  width: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  &:hover {
    cursor: pointer;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.primary {
  background-color: globals.$primary-color;
  color: black;
  border: 2px solid globals.$primary-color;
  &:hover,
  &:focus {
    color: globals.$secondary-color;
    border: 2px solid globals.$secondary-color;
    outline: none;
  }
  &:active {
    background: globals.$primary-color-pseudo-class;
  }
}

.secondary {
  background-color: globals.$secondary-color;
  color: black;
  border: 2px solid globals.$secondary-color;
  &:hover,
  &:focus {
    color: globals.$primary-color;
    border: 2px solid globals.$primary-color;
  }
  &:active {
    background: globals.$secondary-color-pseudo-class;
  }
}

.small {
  font-size: 12px;
  padding: 6px 8px;
  .leadingIcon,
  .trailingIcon {
    height: 12px;
  }
}

.medium {
  font-size: 16px;
  padding: 8px 10px;
  .leadingIcon,
  .trailingIcon {
    height: 16px;
  }
}

.large {
  font-size: 20px;
  padding: 10px 12px;
  .leadingIcon,
  .trailingIcon {
    height: 20px;
  }
}

.disabled {
  color: gray !important;
  border: 2px solid gray !important;
  background: rgb(0, 0, 0, 0.1) !important;
  cursor: default !important;
}
