@use "../../utility/globals";

.astroDatePickerCalendarContainer {
  background: white;
  border-radius: 8px;
  border: 3px solid globals.$primary-color;
  display: flex;
  flex-direction: column;
  width: 350px;
  position: absolute;
}

.astroDatePickerCalendarNavigationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.astroDatePickerCalendarNavigationMonth {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
  align-items: center;
}

.astroDatePickerCalendarNavigationIcon {
  cursor: pointer;
  padding: 6px;
  outline: none;
  border-radius: 1000px;
  border: 2px solid transparent;
  &:hover,
  &:focus {
    background-color: globals.$primary-color-pseudo-class;
    border: 2px solid globals.$primary-color;
  }

  &:active {
    background-color: globals.$primary-color;
  }
}

.astroDatePickerCalendarHeaderContainer {
  display: flex;
  flex-direction: row;
  padding: 0px 8px;
}

.astroDatePickerCalendarHeaderLabel {
  text-align: center;
  flex: 1 1 0px;
  user-select: none;
}

.astroDatePickerCalendarBodyContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 8px 8px 8px;
}

.astroDatePickerCalendarDayContainer {
  flex: 1 0 13%;
}

.astroDatePickerCalendarDay {
  display: flex;
  border-radius: 1000px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  outline: none;
  height: 30px;
  width: 30px;
  margin: auto;
  user-select: none;

  &:hover,
  &:focus {
    background-color: globals.$primary-color-pseudo-class;
    border: 2px solid globals.$primary-color;
  }

  &:active {
    background-color: globals.$primary-color;
  }
}

.enter {
  opacity: 0;
  transform: translateY(-6px);
}

.enterActive {
  transform: translateY(0px);
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.exit {
  transform: translateY(0px);
  opacity: 1;
}

.exitActive {
  transform: translateY(-6px);
  opacity: 0;
  transition: all 200ms ease-in-out;
}
