@use "../../utility/globals";

.selectItem {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  padding: 5px 5px 5px 12px;
  color: white;
  cursor: pointer;
  font-size: 16px;

  &.selected {
    background-color: rgb(108, 88, 116);

    &:hover,
    &:focus {
      background-color: rgb(113, 98, 119);
    }

    &:active {
      background-color: globals.$primary-background-color-active;
    }
  }

  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$primary-background-color-active;
  }
}
