.astroSideNavigationContainer {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
  width: 300px;
  height: 100%;
  box-shadow: 8px 0px 8px #000000;
}
