@use "../../utility/globals";

.modalContainer {
  background: globals.$primary-background-color;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  color: globals.$primary-text-color;
}

.modalHeader {
  box-sizing: border-box;
  display: flex;
  padding: 15px 15px 0px 15px;
  justify-content: space-between;
  width: 100%;
}

.modalContent {
  padding: 30px 30px 50px 30px;
  text-align: center;
}

.modalButtons {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 15px;
  box-sizing: border-box;
}

.modalTitle {
  align-self: center;
}

.modalIcon {
  color: globals.$primary-text-color !important;

  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus !important;
  }

  &:active {
    background-color: globals.$primary-background-color-active !important;
  }
}
