@use "../../utility/globals";

.navbarContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  font-size: 16px;
  min-width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &.primary {
    background-color: globals.$primary-color-pseudo-class;
  }
  
  &.secondary {
      background-color: globals.$secondary-color-pseudo-class;
  }
}

.listContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navbarLogoContainer {
  background-color: globals.$primary-color-pseudo-class;
  position: absolute;
  left: 0;
  max-height: 58.5px;
}

.navbarItemContainer {
  display: flex;
}

.navbarLogo {
  background-color: globals.$primary-color-pseudo-class;
  max-height: 58.5px;
  width: 100%;

  &.primary {
    background-color: globals.$primary-color-pseudo-class;
  }
  
  &.secondary {
      background-color: globals.$secondary-color-pseudo-class;
  }
}

