// TODO: Adjust color for improved consistency and design
$primary-color: rgb(255, 183, 77);
$primary-color-pseudo-class: rgb(255, 203, 87);
$secondary-color: rgb(147 51 234);
$secondary-color-pseudo-class: rgb(160, 76, 240);
$tertiary-color: darkgray;
$tertiary-color-pseudo-class: lightgray;
