@use "../../utility/globals";

.datePickerCalendarContainer {
  background: globals.$primary-background-color;
  margin-top: 2px;
  border-radius: 10px;
  color: globals.$primary-text-color;
  display: flex;
  font-family: globals.$font-family;
  flex-direction: column;
  width: 360px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.datePickerCalendarNavigationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.datePickerCalendarNavigationMonth {
  display: flex;
  user-select: none;
  align-items: center;
}

.datePickerCalendarNavigationIcon {
  cursor: pointer;
  padding: 8px;
  outline: none;
  border-radius: 1000px;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus;
    border: 2px solid globals.$primary-background-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$primary-background-color-active;
    border: 2px solid globals.$primary-background-color-active;
  }
}

.datePickerCalendarHeaderContainer {
  display: flex;
  flex-direction: row;
  padding: 4px 12px;
}

.datePickerCalendarHeaderLabel {
  text-align: center;
  flex: 1 1 0px;
  user-select: none;
}

.datePickerCalendarBodyContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 12px 12px 12px;
}

.datePickerCalendarDayContainer {
  flex: 1 0 13%;
}

.datePickerCalendarDay {
  display: flex;
  border-radius: 1000px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  outline: none;
  height: 34px;
  width: 34px;
  margin: auto;
  user-select: none;

  &.selected {
    border: 2px solid globals.$primary-text-color !important;
  }

  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus;
    border: 2px solid globals.$primary-background-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$primary-background-color-active;
    border: 2px solid globals.$primary-background-color-active;
  }
}
