@use "../../utility/globals";

.checkboxContainer {
  align-items: center;
  display: flex;
  color: globals.$primary-background-color;
  &:hover,
  &:focus {
    color: globals.$primary-background-color-hover-and-focus;
  }
  &:active {
    color: globals.$primary-background-color-active;
  }
}

.checkbox {
  max-height: 34px;
  max-width: 34px;
  position: relative;
}

.checkboxBorder {
  border: 4px solid globals.$primary-background-color;
  &:hover,
  &:focus {
    border: 4px solid globals.$primary-background-color-hover-and-focus;
  }
  &:active {
    border: 4px solid globals.$primary-background-color-active;
  }
  border-radius: 4px;
  cursor: pointer;
  display: block;
  height: 26px;
  width: 26px;
}

.checkboxIcon {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.checkboxLabel {
  color: globals.$primary-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkboxLabel {
  color: gray !important;
  margin-left: 8px;
  &.checked {
    color: globals.$primary-background-color !important;
  }
}
