@use "../../utility/globals";

.statusContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: globals.$font-family;
}

.status {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  margin: 6px;

  &.online {
    background-color: rgb(66, 237, 66);
    width: 16px;
    height: 16px;
    margin: 8px;
  }

  &.online::before {
    position: absolute;
    content: "";
    animation: pulse 1.2s ease infinite;
    background-color: rgb(66, 237, 66);
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    left: -2px;
    top: -2px;

    @keyframes pulse {
      0% {
        transform: scale(1, 1);
      }
      50% {
        opacity: 0.3;
      }
      100% {
        transform: scale(1.3);
        opacity: 0;
      }
    }
  }

  &.offline {
    background-color: transparent;
    border: 4px solid globals.$primary-background-color;
    box-sizing: border-box;
  }

  &.away {
    background-color: rgb(255, 184, 51);
    width: 14px;
    height: 14px;
    margin: 9px;
  }

  &.away::before {
    display: block;
    position: relative;
    content: "";
    left: -3px;
    top: -3px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(255, 184, 51);
    border-radius: 1000px;
  }

  &.busy {
    background-color: rgb(240, 0, 0);
  }

  &.busy::before {
    display: block;
    position: relative;
    content: "";
    width: 12px;
    height: 4px;
    top: 8px;
    left: 4px;
    border-radius: 1000px;
    background-color: white;
    z-index: 1;
  }
}

.label {
  &.online {
    color: rgb(66, 237, 66);
  }

  &.offline {
    color: globals.$primary-background-color;
  }

  &.away {
    color: rgb(255, 184, 51);
  }

  &.busy {
    color: rgb(240, 0, 0);
  }
}
