@use "../../utility/globals";

.container {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  .disabled {
    border: 3px solid rgb(220, 220, 220) !important;
    cursor: default !important;
    background-color: rgb(220, 220, 220);
  }
}

.textField {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;

  &.primary {
    border: 3px solid globals.$primary-color;

    &:focus {
      border: 3px solid globals.$primary-color-pseudo-class;
    }

    &.small {
      border-radius: 6px;
      font-size: 12px;
      padding: 4px;

      &:focus ~ .label,
      &:valid ~ .label {
        transform: translateX(-6px) translateY(-12px) scale(0.8);
        color: globals.$primary-color;
      }
    }

    &.medium {
      border-radius: 8px;
      font-size: 18px;
      padding: 6px;

      &:focus ~ .label,
      &:valid ~ .label {
        transform: translateX(-9px) translateY(-18px) scale(0.8);
        color: globals.$primary-color;
      }
    }

    &.large {
      border-radius: 10px;
      font-size: 24px;
      padding: 8px;

      &:focus ~ .label,
      &:valid ~ .label {
        transform: translateX(-12px) translateY(-24px) scale(0.8);
        color: globals.$primary-color;
      }
    }
  }

  &.secondary {
    border: 3px solid globals.$secondary-color;

    &:focus {
      border: 3px solid globals.$secondary-color-pseudo-class;
    }

    &.small {
      border-radius: 6px;
      font-size: 12px;
      padding: 4px;

      &:focus ~ .label,
      &:valid ~ .label {
        transform: translateX(-6px) translateY(-12px) scale(0.8);
        color: globals.$secondary-color;
      }
    }

    &.medium {
      border-radius: 8px;
      font-size: 18px;
      padding: 6px;

      &:focus ~ .label,
      &:valid ~ .label {
        transform: translateX(-9px) translateY(-18px) scale(0.8);
        color: globals.$secondary-color;
      }
    }

    &.large {
      border-radius: 10px;
      font-size: 24px;
      padding: 8px;

      &:focus ~ .label,
      &:valid ~ .label {
        transform: translateX(-12px) translateY(-24px) scale(0.8);
        color: globals.$secondary-color;
      }
    }
  }

  &.tertiary {
    border: 3px solid globals.$tertiary-color;

    &:focus {
      border: 3px solid globals.$tertiary-color-pseudo-class;
    }

    &.small {
      border-radius: 6px;
      font-size: 12px;
      padding: 4px;

      &:focus ~ .label,
      &:valid ~ .label {
        transform: translateX(-6px) translateY(-12px) scale(0.8);
        color: globals.$tertiary-color;
      }
    }

    &.medium {
      border-radius: 8px;
      font-size: 18px;
      padding: 6px;

      &:focus ~ .label,
      &:valid ~ .label {
        transform: translateX(-9px) translateY(-18px) scale(0.8);
        color: globals.$tertiary-color;
      }
    }

    &.large {
      border-radius: 10px;
      font-size: 24px;
      padding: 8px;

      &:focus ~ .label,
      &:valid ~ .label {
        transform: translateX(-12px) translateY(-24px) scale(0.8);
        color: globals.$tertiary-color;
      }
    }
  }
}
.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  &.iconSmall {
    font-size: 21px;
    padding: 1px;
  }

  &.iconMedium {
    font-size: 28px;
    padding: 3px;
  }

  &.iconLarge {
    font-size: 35px;
    padding: 5px;
  }
}

.label {
  position: absolute;
  transition: all 0.2s ease-in;
  color: rgb(115, 115, 115);
  pointer-events: none;
  background-color: white;
  &.labelSmall {
    margin-left: 6px;
    font-size: 12px;
    margin-top: 6px;
    padding: 0px 2px;
  }
  &.labelMedium {
    margin-left: 6px;
    font-size: 18px;
    margin-top: 8px;
    padding: 0px 3px;
  }
  &.labelLarge {
    margin-left: 12px;
    font-size: 24px;
    margin-top: 10px;
    padding: 0px 4px;
  }
  &.disabledLabel {
    background-color: rgb(220, 220, 220);
  }
}
