@use "../../utility/globals";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: globals.$font-family;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  .disabled {
    border: 3px solid rgb(220, 220, 220) !important;
    cursor: default !important;
    background-color: rgb(220, 220, 220);
  }
}

.textField {
  border: 3px solid globals.$primary-background-color;
  color: globals.$primary-background-color;
  font-family: globals.$font-family;
  outline: none;

  &:hover,
  &:focus {
    border: 3px solid globals.$primary-background-color-hover-and-focus;
  }

  &:active {
    border: 3px solid globals.$primary-background-color-active;
  }

  &.small {
    border-radius: 6px;
    font-size: 12px;
    padding: 2px;

    &:focus ~ .label,
    &:valid ~ .label {
      transform: translateY(-13px);
      color: globals.$primary-background-color-hover-and-focus;
      font-weight: 700;
      margin-left: 6px;
      font-size: 10px;
    }
  }

  &.medium {
    border-radius: 8px;
    font-size: 18px;
    padding: 4px;

    &:focus ~ .label,
    &:valid ~ .label {
      transform: translateY(-18px);
      color: globals.$primary-background-color-hover-and-focus;
      font-weight: 700;
      margin-left: 8px;
      font-size: 14px;
    }
  }

  &.large {
    border-radius: 10px;
    font-size: 24px;
    padding: 6px;

    &:focus ~ .label,
    &:valid ~ .label {
      transform: translateY(-24px);
      color: globals.$primary-background-color-hover-and-focus;
      font-weight: 700;
      margin-left: 10px;
      font-size: 18px;
    }
  }
}

.label {
  position: absolute;
  transition: all 0.2s ease-in;
  color: rgb(115, 115, 115);
  pointer-events: none;
  background-color: white;
  transition: all 0.15s ease-in;
  &.labelSmall {
    margin-left: 6px;
    font-size: 12px;
    margin-top: 6px;
    padding: 0px 1px;
  }
  &.labelMedium {
    margin-left: 6px;
    font-size: 18px;
    margin-top: 8px;
    padding: 0px 2px;
  }
  &.labelLarge {
    margin-left: 12px;
    font-size: 24px;
    margin-top: 10px;
    padding: 0px 2px;
  }
  &.disabledLabel {
    background-color: rgb(220, 220, 220);
  }
}
