@use "../../utility/globals";

.astroPopoverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.astroPopover {
  color: rgb(223, 223, 223);
  position: absolute;
  text-align: center;
  min-width: 20px;
  max-width: 250px;
  background-color: rgb(60, 60, 60);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 16px;
  text-overflow: wrap;
  word-wrap: break-word;
  margin-top: 4px;
  z-index: 999;
  &.nubbin {
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      z-index: 1000;
      background-color: rgb(60, 60, 60);
      position: absolute;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &.bottom {
      margin-top: 11px;
    }
  }
}

.bottom {
  &::before {
    top: 0;
    left: 50%;
  }
}

.top {
  &::before {
    top: 100%;
    left: 50%;
  }
}

.enterTop {
  opacity: 0;
  transform: translateY(-6px);
}

.enterTopActive {
  transform: translateY(0px);
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.exitTop {
  transform: translateY(0px);
  opacity: 1;
}

.exitTopActive {
  transform: translateY(-6px);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.enterBottom {
  opacity: 0;
  transform: translateY(6px);
}

.enterBottomActive {
  transform: translateY(0px);
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.exitBottom {
  transform: translateY(0px);
  opacity: 1;
}

.exitBottomActive {
  transform: translateY(6px);
  opacity: 0;
  transition: all 200ms ease-in-out;
}
