.layoutManager {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 200;
}

.bottom {
  padding-top: 8px;
}

.top {
  padding-bottom: 8px;
}

.left {
  padding-right: 8px;
}

.right {
  padding-left: 8px;
}
