@use "../../utility/globals";

.iconButton {
  background-color: globals.$primary-background-color;
  border: none;
  border-radius: 999px;
  color: globals.$primary-text-color;
  cursor: pointer;
  outline: none;

  &.small {
    max-height: 32px;
    max-width: 32px;
    padding: 7px;
  }

  &.medium {
    max-height: 38px;
    max-width: 38px;
    padding: 8px;
  }

  &.large {
    max-height: 44px;
    max-width: 44px;
    padding: 9px;
  }

  &:hover,
  &:focus {
    background-color: globals.$primary-background-color-hover-and-focus;
  }

  &:active {
    background-color: globals.$primary-background-color-active;
    color: globals.$primary-text-color;
  }
}

.children {
  height: 38px;
  width: 38px;
}
